$h3-weight: 500;
$h1-weight: 500;

$grey: rgb(197, 197, 197);
$purple: #8731E8;
$blue: #4528DC;
$white: #fff;
$primary: #f6f9fe;
$text: #212529;
$green: green;
$red: brown;


ul {
    list-style: none;
}

body {
    font-family: "poppins", sans-serif;

    a {
        text-decoration: none;
    }

    .swiper {
        width: 600px;
        height: 600px;
    }

    header {

        position: relative;
        // background: linear-gradient(-47deg, $purple, $blue);
        

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(-47deg, $purple, $blue);
            width: 100%;
            height: 100%;
            opacity: 0.9;
            z-index: -1;
        }

        .navbar {

            .container {
                color: $white;

                .toggler{
                    display: none;
                }

                li {
                    padding: 0 0.5em;
                }
            }
        }

        .col-12 div {
            margin: 2em 0;
        }
    }

    .contacts {

        


        h1 {
            font-size: 4.5rem;
            margin: 0 0 2rem 0;
            font-weight: $h1-weight;
        }

        .container {
            height: 100%;

          
            .row {
                .col {
                    &:nth-child(1) {
                        max-width: 50%;
                    }

                    &:nth-child(2) {
                        max-width: 35%;
                    }
                }
            }
        }
    }


    .contacts p {
        font-size: 1.1rem;
        margin: 2.5rem 0;
    }

    .contacts h2 {
        margin: 0 0 1rem 0;
    }

    .contacts h3 {
        font-weight: 300;
        font-size: 1.3rem;
    }

    .contacts form div input {
        height: 3rem;
    }

    .contacts form>button {
        background-color: $purple;
        color: $white;
        padding: 1rem;
        width: 100%;
    }

    .contacts form>button:hover {
        box-shadow: 4px 4px 12px grey;
    }

    .contacts .col:first-child div a {
        border: 2px solid $purple;
        padding: 1em 2em;
        font-size: 1em;
    }

    .contacts .col:first-child div a:hover {
        background-color: $purple;
        color: $white;
    }
}

main {
    .functionality {
        margin: 5rem 0;

        .express {
            max-width: 50%;
            margin: 0 0 2em;
            display: flex;
            flex-direction: column;

            .premium {
                order: -1;
                display: inline-block;
                text-align: center;
                max-width: 30%;
            }
        }

        h1 {
            font-size: 3rem;
            font-weight: 600;
        }

        h2 {
            font-size: 1rem;
            font-weight: 500;
            padding: 0.75em;
        }

        strong {
            font-weight: 500;
            color: $purple;
        }

        ul div {
            transition: 0.3s;

        }

        ul>div:hover {
            transform: translateY(-0.8rem);

        }

    }

    .communication {
        background-color: $primary;
        padding: 4rem 0;

        .container {

            width: 85%;

            .image {
                align-self: flex-start;

                img {
                    display: inline-block;
                    width: 100%;
                }
            }

            .info {

                width: 100%;

                h1 {
                    font-size: 3.5rem;
                    font-weight: 600;
                }

                p {
                    margin: 2rem 0;
                }

                ul {
                    margin: 2rem 0;
                    list-style: none;
                    padding: 0;
                    font-weight: 400;

                    li {
                        padding: 1rem 0;

                        div {
                            span:first-child {
                                padding: 0;
                                max-width: 5%;
                                align-self: center;
                                text-align: center;
                                color: $purple;
                            }
                        }
                    }
                }

                ul:last-child {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;
                        background-color: #fff;
                        color: $purple;
                        width: 2em;
                        height: 2em;
                        text-align: center;
                        line-height: 1em;
                        margin: 0 0.5em;
                        font-size: 2rem;
                        box-shadow: 0px 0px 8px 1px $grey;
                    }
                }

            }
        }

    }

    .manage {
        .container {
            width: 60%;
            padding: 5rem 0;

            h1 {
                font-weight: 600;
                font-size: 3rem;
            }

            ul {
                margin: 3rem 0;
                padding: 0;

                li {

                    padding: 1rem 0;

                    div {
                        span:first-child {
                            padding: 0;
                            max-width: 10%;
                            display: inline-block;
                            align-self: center;
                            text-align: center;
                            color: $purple;
                            background-color: #fff;
                            height: 3.5rem;
                            font-size: 1.5rem;
                            line-height: 2.4em;
                            box-shadow: 0px 0px 0px $grey;
                        }
                    }

                }

            }

            img {
                display: block;
                margin: auto;
            }

            a {
                background: linear-gradient(-47deg, $purple, $blue);
                color: $white;
                padding: 1em 2em;

                &:hover {
                    box-shadow: 0px 2px 4px $grey;
                }
            }

        }
    }

    .works {
        background: linear-gradient(-47deg, $purple, $blue);
        margin: 3rem 0;
        padding: 2rem 0;
        color: $white;

        .container {
            width: 55%;

            h1 {
                font-weight: 600;
                font-size: 3.5rem;
                margin: 3rem 0 2rem 0;
            }

            p {
                margin: 3rem 0;
            }

            .row {
                p {
                    margin: 1rem;
                }

                margin: 0 0 3rem 0;


                h2 {
                    font-size: 1.5rem;
                    font-weight: 600;
                }

            }
        }
    }

    .simple {

        padding: 3.5rem 0;

        .container {

            h1 {
                font-weight: 600;
                font-size: 3rem;
                margin: 0 0 2rem 0;
            }

            p {
                width: 50%;
                display: block;
                margin: 0 auto 3rem auto;

            }

        }

        .swiper {
            width: 80%;
        }

        img {
            width: 100%;
        }
    }

    .testimonials {
        .swiper {
            width: 60%;
            height: 100%;
            margin: 4rem auto;

            ul {

                li {

                    display: flex;
                    flex-direction: column;
                    padding: 0 4rem 1rem 0;

                    img {
                        order: -1;
                        width: 15%;
                        margin: 1rem auto;
                        border-radius: 50%;
                    }

                    h3 {
                        font-size: 1.5rem;
                        font-weight: 600;
                    }

                    h4 {
                        font-size: 1rem;
                        font-weight: 400;
                    }

                }

            }
        }
    }

    .subscriptions {
        background-color: $primary;
        padding: 5rem 0;

        h1 {
            font-weight: 600;
            font-size: 3rem;
        }

        p {
            width: 60%;
            margin: 2rem auto 4rem auto;
        }


        .row {
            width: 60%;
            margin: auto;


        }

        ul {
            padding: 0;
            width: 80%;
            margin: 2rem auto;

            li {
                padding: 1rem 0;
                border-top: 1px solid $grey;
            }

            li:last-child {
                border-bottom: 1px solid $grey;
            }

        }

        .fs-1 {
            color: $purple;
            margin: 2rem 0;
        }

        h3 {
            margin: 1rem 0;
        }

        h4 {
            color: $purple;
            font-size: 1.5rem;
            font-weight: 600;

            strong {
                font-size: 3rem;
            }

        }

        .col a {
            text-decoration: none;
            background: linear-gradient(-47deg, $purple, $blue);
            color: white;
            padding: 1rem 3rem;
            transform: translateY(2rem);

            &:hover {
                box-shadow: 0px 3px 4px $grey;
            }


        }

        .container p:last-child {
            margin: 4rem auto 0 auto;

            a {
                transition: 0.3s;
                color: $text;
            }

            a:hover {
                color: $purple;
            }
        }
    }


    .stay-tuned {
        margin: 5rem 0;

        h1 {
            font-weight: 600;
            font-size: 3rem;
        }

        .container>p {
            width: 60%;
            margin: 2rem auto 4rem auto;
        }

        .col:first-child {
            ul {
                padding: 0;
    
    
                a {
    
                    color: $text;
                    div {
                        display: inline-block;
                        height: 45px;
                        width: 45px;
                        line-height: 45px;
                        font-size: 18px;
                        text-align: center;
                        background-color: $purple;
                        color: #fff;
                        border-radius: 4px;
                        margin: 0.7rem 0.5rem;
                    }
                }
    
              
            }
        }

        .col:last-child {
            max-width: 45%;
            div  {
                input {
                    margin: 2rem;
                    height: 3rem;
                }
                textarea {
                    margin: 2rem;
                    height: 13rem;
                }
            }
            
            button {
                background-color: $purple;
                width: 100%;
                margin: 1rem 2rem;
                color: $white;
                padding: 1rem;
            }
            button:hover {
                box-shadow: 0px 2px 8px $grey;
            }

        }

        

    }
    
}
footer {
    background-color: $primary;
    padding: 4rem 0 1rem 0;
    a {
        color: $text;
        transition: 0.5s;
        }
    a:hover {
        color: $purple;
    }
    p {
        margin: 0;
    }
    .row:first-child {
        
        .col-12 {
            a {
                display: block;
                margin: 1rem 0;
                
            }
            p {
                line-height: 2rem;
            }
        }
        .col-12:first-child {

            .items {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

            a {
                display: inline-block;
                order: -1;
                margin: 1rem 0.5rem;
                img {
                    width: 48px;
                    height: 48px;
                }
            }
           
            .socials {
                a {
                    width: 3rem;
                    height: 3rem;
                    text-align: center;
                    line-height: 3rem;
                    border-radius: 20%;
                    color: $white;
                    font-size: 1.5rem;
                }
                a:nth-child(1) {
                    background-color: $blue;
                }
                a:nth-child(2) {
                    background-color: $text;
                }
                a:nth-child(3) {
                    background-color: $red;
                }
                a:nth-child(4) {
                    background-color: $green;
                }
            }
             }
        }
        .col-12:last-child {
            img {
                width: 60%;
            }
            .socials {
               div {
                display: inline-block;
               }
            }
        }
    }
    .row:last-child {
        .col:first-child {
            p:before {
                content: "©";
            }
        }
    }
}

@media (max-width: 1199px) {

     body {

        

        .contacts {
            .container {

                .row {
                    .col 
                    {
                        &:nth-child(1) {
                            max-width: 50%;
                        }
                        &:nth-child(2) {
                            max-width: 50%;
                        }
                        margin: 2rem 0 ;
                    }
                }
            }
        }
        
        
    }
        
}
@media (max-width: 991px) {

    body {

       .navbar {

        .navbar-nav {
        font-size: 1.1rem;

        }

       }

       .contacts {
        
           .container {

            

               height: 100%;
               .row {
                   flex-direction: column;
                   .col 
                   {
                       &:nth-child(1) {
                           max-width: 100%;
                       }
                       &:nth-child(2) {
                        max-width: 100%;
                        margin: 2rem auto;
                       }
                       margin: 2rem 0 ;
                   }
               }
           }
       }
        .express {
            max-width: 100%!important;
            
            
        }
        .communication {
            .image {
                display: none;
            }
        }
        .subscriptions {
            .row {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
@media (max-width: 767px) {
    .navbar {

        .container {
            ul {
                display: none;
                }   
            a {
                color:  $white;
            }
            .toggler {
                display: block!important;
                color: $white;
            }
        }

        &:target .navbar-nav{
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 50%;
            top: 1rem;
            background-color: $blue;
        }
               

    }
    .functionality {
        margin: 5rem 0;
        .row {
            display: flex;
            flex-direction: column;
    
            .col {
                width: 100%;
            }
        }
    }   
    .stay-tuned {
       .container {

        &>p:nth-child(2) {
            width: 100%;

        
        }
       }.col {
        max-width: 87%!important;
    }
    }
    
}
