@charset "UTF-8";
ul {
  list-style: none;
}

body {
  font-family: "poppins", sans-serif;
}
body a {
  text-decoration: none;
}
body .swiper {
  width: 600px;
  height: 600px;
}
body header {
  position: relative;
}
body header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-47deg, #8731E8, #4528DC);
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
}
body header .navbar .container {
  color: #fff;
}
body header .navbar .container .toggler {
  display: none;
}
body header .navbar .container li {
  padding: 0 0.5em;
}
body header .col-12 div {
  margin: 2em 0;
}
body .contacts h1 {
  font-size: 4.5rem;
  margin: 0 0 2rem 0;
  font-weight: 500;
}
body .contacts .container {
  height: 100%;
}
body .contacts .container .row .col:nth-child(1) {
  max-width: 50%;
}
body .contacts .container .row .col:nth-child(2) {
  max-width: 35%;
}
body .contacts p {
  font-size: 1.1rem;
  margin: 2.5rem 0;
}
body .contacts h2 {
  margin: 0 0 1rem 0;
}
body .contacts h3 {
  font-weight: 300;
  font-size: 1.3rem;
}
body .contacts form div input {
  height: 3rem;
}
body .contacts form > button {
  background-color: #8731E8;
  color: #fff;
  padding: 1rem;
  width: 100%;
}
body .contacts form > button:hover {
  box-shadow: 4px 4px 12px grey;
}
body .contacts .col:first-child div a {
  border: 2px solid #8731E8;
  padding: 1em 2em;
  font-size: 1em;
}
body .contacts .col:first-child div a:hover {
  background-color: #8731E8;
  color: #fff;
}

main .functionality {
  margin: 5rem 0;
}
main .functionality .express {
  max-width: 50%;
  margin: 0 0 2em;
  display: flex;
  flex-direction: column;
}
main .functionality .express .premium {
  order: -1;
  display: inline-block;
  text-align: center;
  max-width: 30%;
}
main .functionality h1 {
  font-size: 3rem;
  font-weight: 600;
}
main .functionality h2 {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75em;
}
main .functionality strong {
  font-weight: 500;
  color: #8731E8;
}
main .functionality ul div {
  transition: 0.3s;
}
main .functionality ul > div:hover {
  transform: translateY(-0.8rem);
}
main .communication {
  background-color: #f6f9fe;
  padding: 4rem 0;
}
main .communication .container {
  width: 85%;
}
main .communication .container .image {
  align-self: flex-start;
}
main .communication .container .image img {
  display: inline-block;
  width: 100%;
}
main .communication .container .info {
  width: 100%;
}
main .communication .container .info h1 {
  font-size: 3.5rem;
  font-weight: 600;
}
main .communication .container .info p {
  margin: 2rem 0;
}
main .communication .container .info ul {
  margin: 2rem 0;
  list-style: none;
  padding: 0;
  font-weight: 400;
}
main .communication .container .info ul li {
  padding: 1rem 0;
}
main .communication .container .info ul li div span:first-child {
  padding: 0;
  max-width: 5%;
  align-self: center;
  text-align: center;
  color: #8731E8;
}
main .communication .container .info ul:last-child {
  list-style: none;
  margin: 0;
  padding: 0;
}
main .communication .container .info ul:last-child li {
  display: inline-block;
  background-color: #fff;
  color: #8731E8;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 1em;
  margin: 0 0.5em;
  font-size: 2rem;
  box-shadow: 0px 0px 8px 1px rgb(197, 197, 197);
}
main .manage .container {
  width: 60%;
  padding: 5rem 0;
}
main .manage .container h1 {
  font-weight: 600;
  font-size: 3rem;
}
main .manage .container ul {
  margin: 3rem 0;
  padding: 0;
}
main .manage .container ul li {
  padding: 1rem 0;
}
main .manage .container ul li div span:first-child {
  padding: 0;
  max-width: 10%;
  display: inline-block;
  align-self: center;
  text-align: center;
  color: #8731E8;
  background-color: #fff;
  height: 3.5rem;
  font-size: 1.5rem;
  line-height: 2.4em;
  box-shadow: 0px 0px 0px rgb(197, 197, 197);
}
main .manage .container img {
  display: block;
  margin: auto;
}
main .manage .container a {
  background: linear-gradient(-47deg, #8731E8, #4528DC);
  color: #fff;
  padding: 1em 2em;
}
main .manage .container a:hover {
  box-shadow: 0px 2px 4px rgb(197, 197, 197);
}
main .works {
  background: linear-gradient(-47deg, #8731E8, #4528DC);
  margin: 3rem 0;
  padding: 2rem 0;
  color: #fff;
}
main .works .container {
  width: 55%;
}
main .works .container h1 {
  font-weight: 600;
  font-size: 3.5rem;
  margin: 3rem 0 2rem 0;
}
main .works .container p {
  margin: 3rem 0;
}
main .works .container .row {
  margin: 0 0 3rem 0;
}
main .works .container .row p {
  margin: 1rem;
}
main .works .container .row h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
main .simple {
  padding: 3.5rem 0;
}
main .simple .container h1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 0 0 2rem 0;
}
main .simple .container p {
  width: 50%;
  display: block;
  margin: 0 auto 3rem auto;
}
main .simple .swiper {
  width: 80%;
}
main .simple img {
  width: 100%;
}
main .testimonials .swiper {
  width: 60%;
  height: 100%;
  margin: 4rem auto;
}
main .testimonials .swiper ul li {
  display: flex;
  flex-direction: column;
  padding: 0 4rem 1rem 0;
}
main .testimonials .swiper ul li img {
  order: -1;
  width: 15%;
  margin: 1rem auto;
  border-radius: 50%;
}
main .testimonials .swiper ul li h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
main .testimonials .swiper ul li h4 {
  font-size: 1rem;
  font-weight: 400;
}
main .subscriptions {
  background-color: #f6f9fe;
  padding: 5rem 0;
}
main .subscriptions h1 {
  font-weight: 600;
  font-size: 3rem;
}
main .subscriptions p {
  width: 60%;
  margin: 2rem auto 4rem auto;
}
main .subscriptions .row {
  width: 60%;
  margin: auto;
}
main .subscriptions ul {
  padding: 0;
  width: 80%;
  margin: 2rem auto;
}
main .subscriptions ul li {
  padding: 1rem 0;
  border-top: 1px solid rgb(197, 197, 197);
}
main .subscriptions ul li:last-child {
  border-bottom: 1px solid rgb(197, 197, 197);
}
main .subscriptions .fs-1 {
  color: #8731E8;
  margin: 2rem 0;
}
main .subscriptions h3 {
  margin: 1rem 0;
}
main .subscriptions h4 {
  color: #8731E8;
  font-size: 1.5rem;
  font-weight: 600;
}
main .subscriptions h4 strong {
  font-size: 3rem;
}
main .subscriptions .col a {
  text-decoration: none;
  background: linear-gradient(-47deg, #8731E8, #4528DC);
  color: white;
  padding: 1rem 3rem;
  transform: translateY(2rem);
}
main .subscriptions .col a:hover {
  box-shadow: 0px 3px 4px rgb(197, 197, 197);
}
main .subscriptions .container p:last-child {
  margin: 4rem auto 0 auto;
}
main .subscriptions .container p:last-child a {
  transition: 0.3s;
  color: #212529;
}
main .subscriptions .container p:last-child a:hover {
  color: #8731E8;
}
main .stay-tuned {
  margin: 5rem 0;
}
main .stay-tuned h1 {
  font-weight: 600;
  font-size: 3rem;
}
main .stay-tuned .container > p {
  width: 60%;
  margin: 2rem auto 4rem auto;
}
main .stay-tuned .col:first-child ul {
  padding: 0;
}
main .stay-tuned .col:first-child ul a {
  color: #212529;
}
main .stay-tuned .col:first-child ul a div {
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  font-size: 18px;
  text-align: center;
  background-color: #8731E8;
  color: #fff;
  border-radius: 4px;
  margin: 0.7rem 0.5rem;
}
main .stay-tuned .col:last-child {
  max-width: 45%;
}
main .stay-tuned .col:last-child div input {
  margin: 2rem;
  height: 3rem;
}
main .stay-tuned .col:last-child div textarea {
  margin: 2rem;
  height: 13rem;
}
main .stay-tuned .col:last-child button {
  background-color: #8731E8;
  width: 100%;
  margin: 1rem 2rem;
  color: #fff;
  padding: 1rem;
}
main .stay-tuned .col:last-child button:hover {
  box-shadow: 0px 2px 8px rgb(197, 197, 197);
}

footer {
  background-color: #f6f9fe;
  padding: 4rem 0 1rem 0;
}
footer a {
  color: #212529;
  transition: 0.5s;
}
footer a:hover {
  color: #8731E8;
}
footer p {
  margin: 0;
}
footer .row:first-child .col-12 a {
  display: block;
  margin: 1rem 0;
}
footer .row:first-child .col-12 p {
  line-height: 2rem;
}
footer .row:first-child .col-12:first-child .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .row:first-child .col-12:first-child .items a {
  display: inline-block;
  order: -1;
  margin: 1rem 0.5rem;
}
footer .row:first-child .col-12:first-child .items a img {
  width: 48px;
  height: 48px;
}
footer .row:first-child .col-12:first-child .items .socials a {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 20%;
  color: #fff;
  font-size: 1.5rem;
}
footer .row:first-child .col-12:first-child .items .socials a:nth-child(1) {
  background-color: #4528DC;
}
footer .row:first-child .col-12:first-child .items .socials a:nth-child(2) {
  background-color: #212529;
}
footer .row:first-child .col-12:first-child .items .socials a:nth-child(3) {
  background-color: brown;
}
footer .row:first-child .col-12:first-child .items .socials a:nth-child(4) {
  background-color: green;
}
footer .row:first-child .col-12:last-child img {
  width: 60%;
}
footer .row:first-child .col-12:last-child .socials div {
  display: inline-block;
}
footer .row:last-child .col:first-child p:before {
  content: "©";
}

@media (max-width: 1199px) {
  body .contacts .container .row .col {
    margin: 2rem 0;
  }
  body .contacts .container .row .col:nth-child(1) {
    max-width: 50%;
  }
  body .contacts .container .row .col:nth-child(2) {
    max-width: 50%;
  }
}
@media (max-width: 991px) {
  body .navbar .navbar-nav {
    font-size: 1.1rem;
  }
  body .contacts .container {
    height: 100%;
  }
  body .contacts .container .row {
    flex-direction: column;
  }
  body .contacts .container .row .col {
    margin: 2rem 0;
  }
  body .contacts .container .row .col:nth-child(1) {
    max-width: 100%;
  }
  body .contacts .container .row .col:nth-child(2) {
    max-width: 100%;
    margin: 2rem auto;
  }
  body .express {
    max-width: 100% !important;
  }
  body .communication .image {
    display: none;
  }
  body .subscriptions .row {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .navbar .container ul {
    display: none;
  }
  .navbar .container a {
    color: #fff;
  }
  .navbar .container .toggler {
    display: block !important;
    color: #fff;
  }
  .navbar:target .navbar-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 1rem;
    background-color: #4528DC;
  }
  .functionality {
    margin: 5rem 0;
  }
  .functionality .row {
    display: flex;
    flex-direction: column;
  }
  .functionality .row .col {
    width: 100%;
  }
  .stay-tuned .container > p:nth-child(2) {
    width: 100%;
  }
  .stay-tuned .col {
    max-width: 87% !important;
  }
}/*# sourceMappingURL=style.css.map */