body {
    height: 2000px;

    header {
        background: linear-gradient(-47deg, #8731E8, #4528DC);

        .navbar {

            .container {
                color: white;
                
                li {
                    padding: 0 0.5em;
                }
            }
        }

        .col-12 div{
            margin: 2em 0;
        }
        
    }

    


}



