body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h1,h2 {
    font-family: 'Dosis', sans-serif;
}
h2 {
    background-color: #54C;
    padding: 20px;
    margin: 0;
    font-size: 35px;
    color: white;
}
ol {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
.box-options {
    text-align: center;
    padding: 10% 0 10% 0;
}
.options_header {
    width: 40%;
    margin: 80px auto;
}
.options_list {
    width: 60%;
    margin: auto;
}
.options_list li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 5% 0;
    box-shadow: 2px 2px 5px #DDC;
    margin: 0 10px;
    box-sizing: border-box;
}
.options_list>li {
    height: 600px;
    border: 2px solid #ddd;
    transition: 0.5s;

}
.options_price {
    display: inline-block;
    width: 50px;
    height: 50px;   
    font-size: 25px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px -3px 5px #DDC;
    line-height: 45px;
    transform: translateY(-210px);
}
.options_food li {
    display: inline-block;
    text-align: center;
    border-top: 1px solid #DDC;
    margin: 0;
    width: 335px;
    padding: 10px;
    box-shadow: none;
}
.options_list li p {
    margin: 10px ;
}
.options_list li a {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    line-height: 50px;
    height: 50px;
    width: 150px;
    color: #112;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #DDC;
}
.options_list li:nth-child(1) a {
    margin-top: 160px;
}
.options_list li:nth-child(2) a {
    margin-top: 140px;
}
.options_list li:nth-child(3) a {
    margin-top: 5px;
}

.options_list>li:hover {
    border: 2px solid #94C;
    transform: translateY(50px);
}
.options_list>li:hover h2 {
    background-color: #C38;
    transition: 0.5s;
}
.options_list>li:hover a {
    background-color: #F53;
    color:white;
    transition: 0.5s;
    border:none;
}.options_list>li:hover .options_price {
    color: #F53;
    transition: 0.5s;
}

